<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1 style="color: red">ADD BOOK</h1><br>

<table th:border="2" th:width="209" bgcolor="white" >
    <tr>
        <th onclick="this.querySelector('a').style.color = 'red'"><h4><a href="/books" style="color: black">Books</a></h4></th>
        <th onclick="this.querySelector('a').style.color = 'red'"><h4><a href="/" style="color: black">Main</a></h4></th>
    </tr>
</table>

<form action="/books/add" method="post">
    Title: <input type="text" name="title"/><br>
    Price: <input type="number" name="price"/><br>
    Qty: <input type="number" name="qty"/><br>
    Author: <select name="author">
    <option th:each="author : ${authors}"
            th:value="${author.id}"
            th:text="${author.name + ' ' + author.surname}"></option>
</select><br>
    Created At:<input type="date" name="created_at"><br>
    <input type="submit" value="ADD">
</form>
</body>
</html>