<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Authors</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body style="text-align: center">
<h1 style="color: red">SEARCH RESULT</h1><br>

<table th:border="4" th:width="1500" bgcolor="white">
  <tr>
    <th onclick="this.querySelector('a').style.color = 'red'"><h1><a href="/books/add" style="color: black">ADD</a></h1></th>
    <th onclick="this.querySelector('a').style.color = 'red'"><h1><a href="/" style="color: black">Main</a></h1></th>
  </tr>
</table><br>
Search:
<form action="/books/search" method="get">
  <input type="text" name="keyword">
  <input type="submit" value="search">
</form>
Filter:
<form action="/books/filter" method="get">
  Title <input type="text" name="title" th:value="${title}"><br>
  Price:<input type="number" name="price" th:value="${price}"><br>
  Qty:<input type="number" name="qty" th:value="${qty}"><br>
  Author: <select name="author">
  <option th:each="author : ${authors}"
          th:value="${author.id}"
          th:text="${author.name + ' ' + author.surname}"></option>
</select><br>
  <input type="submit" value="filter">
</form>


<table th:border="4" th:width="1500" bgcolor="white">
  <tr>
    <th>ID</th>
    <th>TITLE</th>
    <th>PRICE</th>
    <th>QTY</th>
    <th>AUTHOR NAME</th>
    <th>AUTHOR SURNAME</th>
    <th>CREATED AT</th>
    <th>EDIT</th>
    <th>DELETE</th>

  </tr>

  <tr th:each="book : ${books}">
    <td th:text="${book.getId()}"></td>
    <td th:text="${book.getTitle()}"></td>
    <td th:text="${book.getPrice()}"></td>
    <td th:text="${book.getQty()}"></td>
    <td th:text="${book.getAuthor().getName()}"></td>
    <td th:text="${book.getAuthor().getSurname()}"></td>
    <td th:text="${book.getCreatedAt()}"></td>
    <td> <a th:href="@{/books/edit(id = ${book.id})}">Edit</a></td>
    <td> <a th:href="@{/books/delete(id = ${book.id})}">Delete</a></td>
  </tr>
</table>
</body>
</html>